<!DOCTYPE html>
<html lang="en" ng-app="MadLibApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Mad Lib</title>

	<!--Google fonts-->    
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat" rel="stylesheet">
		
    <!--Bootstrap CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="Ang-BStr-JQuery/bootstrap-3.3.7-dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!--Local CSS-->
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body ng-controller="MadLibController">
	
	<h1 class="text-center page-header">{{title}}</h1>

	<!-- this container-fluid section was originally used
	to display all input fields at once in two columns.
	It has been replace by a single input display system
	below but is kept here in the commnets for reference -->
	
	<!-- <div class="container-fluid">
		<form class="row" name="userForm" id="myForm">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="form-group form-group-sm" ng-repeat="blank in fillIns" ng-if="$index < 7">
					<label class="control-label">{{blank.type}}</label>
					<input type="text" ng-blur="formProgress($event)" class="form-control" ng-model="blank.value">
				</div>
			</div>  /col-sm-4 Col 1
				<div class="col-sm-4">
					<div class="form-group form-group-sm" ng-repeat="blank in fillIns" ng-if="$index >= 7">
						<label class="control-label">{{blank.type}}</label>
						<input type="text" ng-blur="formProgress($event)" class="form-control" ng-model="blank.value">
					</div>
				<hr>
				<button class="btn btn-primary">
					submit
				</button>
				<a href="#" class="btn btn-danger pull-right" ng-click="reset()">reset</a>
				</div> /col-sm-4 Col 2
		</form>
	</div>  container-fluid
	 -->
	<section class="container-fluid">
		<div class="panel panel-primary">
			
			<div class="panel-heading">
				<div class="h4 text-center">Enter your choices for a mad lib story</div>
				</div>
			<div class="panel-body">
			<div class="col-sm-6 col-sm-offset-3">
				<span class="control-label h5">progress...</span>
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{progressPct}};min-width:5px">
						<span ng-if="progress > 0">{{progress}}/13</span>
					</div>
				</div>
			</div>
			</div> <!-- Progressbar group -->
				
			<form novalidate class="panel-body" name="userForm" id="singleLineForm">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="form-group form-group-lg" ng-repeat="blank in fillIns track by $index" ng-if="$index === counter">
						<label class="control-label word-type">{{blank.type}}</label>
						<input type="text" class="form-control" ng-model="blank.value" ng-keypress="isEnter($event, $index)" ng-required="true" >
						<div class="input-group" ng-="displayNext($event, $index)">
							<div class="input-group-btn">
								<button class="btn btn-info btn-block btn-lg" type="submit" ng-disabled="$index === 0"ng-click="displayPrev($event, $index)"><span>&laquo;</span> previous</button>
							</div>  <!-- previous button -->
							<div class="input-group-btn">
								<button class="btn btn-primary btn-block btn-lg" ng-click="displayNext($event, $index)" ng-disabled="$index >= (fillIns.length-1) && !(lastInput && userForm.$valid)"><span ng-if="lastInput && userForm.$valid || (lastInput && $index >= fillIns.length-1)">submit</span><span ng-if="!lastInput || (userForm.$invalid && $index < fillIns.length-1)">next</span> <span>&raquo;</span></button>
							</div> <!-- next button -->
						</div> <!-- button group -->
					</div> <!-- ng-repeat form-group input -->
				</div> <!-- /col -->
			</form>
		</div> <!-- /panel -->
	</section>

	<section class="container-fluid" ng-if="completed">
		<div class="well" >
			<div class="row">
				<h2 class="text-center">Survival Advice</h2>
				<div class="col-sm-8 col-sm-offset-2">
					<p>
					<span ng-repeat="blank in fillIns">
						{{story[$index]}}<b><u>{{blank.value}}</u></b>
					</span>
					</p>
					<button class="btn btn-danger btn-xs pull-right" id="reset" ng-click="reset()">reset</button>
				</div> <!-- /col -->
			</div> <!-- /row -->
		</div><!-- /well -->
	</section>
	<!-- jQuery -->
	<!-- <script src="jquery-3.1.0.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Bootstrap compiled and minified JavaScript -->
    <!-- <script src="Ang-BStr-JQuery/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- AngularJS -->
    <!-- <script src="Ang-BStr-JQuery/angular-1.5.8/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- local js -->
    <script src="app.js"></script>

</body>
</html>